* {
    margin: 0;
    padding: 0;
    background-color: #edf2f4;
    font-family: 'Inter', sans-serif;
}

.fab {
    position: relative;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    width: 30em;
    height: 30em;
    border: 6px solid #8d99ae;
    border-radius: 4px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #2b2d42;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: -0.7rem;
    color: #2b2d42;
}

.fab::before {
    content: "\f09b";
    font-family: FontAwesome, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: black;
}

.button {
    border: 2px solid #2B2D42;
    background-color: #FD96A7;
    color: #2B2D42;
    font-size: 1.2rem;
    font-weight: 600;
    height: 3.7em;
    width: 8em;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    transition: transform 0.2s ease-in-out;
}

.buttons {
    display: grid;
    grid-template-areas:
        "clear   clear    small  small"
        "erase   erase    medium medium"
        "rainbow rainbow large  large";

    row-gap: 5px;
    column-gap: 10px;
    padding: 1em;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
}

#picker {
    min-width: 5em;
    max-width: 10em;
    min-height: 5em;
    max-height: 10em;
    margin-bottom: 50px;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

input[type='color']:hover, button:hover {
    transform: scale(1.1);
}

#random {
    grid-area: rainbow;
}

#erase {
    grid-area: erase;
}

#clear {
    grid-area: clear;
}

#small {
    grid-area: small;
}

#medium {
    grid-area: medium;
}

#large {
    grid-area: large;
}

